@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt-3 pb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>HƯỚNG DẪN MUA HÀNG</h3>
        </div>
        <div class="col-12 text-justify">
            <p>Bước 1. Đăng nhập hoặc không đăng nhập</p>
            <p>Bước 2: Chọn sản phẩm thêm vào giỏ hàng</p>
            <p>Bước 3: Tiến hành đặt hàng và thanh toán</p>
        </div>
    </div>
</div>